.basket {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }


  .basketArrow {
    opacity: 0.5;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

    &:hover {
      opacity: 1.5;
    }
  }

}

.drawerBlock {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  overflow: auto;

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }


  h3 {
    margin: 0;
  }

  p {
    font-size: 12px;
  }

  .cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border: 2px solid #dccccc;
    padding: 13px;
    border-radius: 20px;
    overflow: hidden;

    .sneakersImg {
      padding-bottom: 14px;
      margin-right: 10px;
    }

    .cartItemImg {
      opacity: 0.5;
      cursor: pointer;
      transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

      &:hover {
        opacity: 1.5;
      }
    }
  }
}

.drawerShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.cartTotalBlock {
  ul {
    margin-bottom: 20px;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      flex: 1;
      height: 1px;
      border: 1px dashed #dccccc;
      position: relative;
      top: -4px;
      margin: 0 5px;
    }
  }

  button {
    width: 100%;
    height: 55px;
    background: #9DD558;
    border-radius: 18px;
    border: 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: lighten(#9DD558, 10%);
    }

    &:active {
      background: darken(#9DD558, 10%);
    }

  }
}

.cartButton {
  position: relative;


  &:hover {
    img {
      transform: translateX(15px);
    }
  }

  img {
    position: absolute;
    right: 40px;
    top: 20px;
    transition: transform 0.2s ease-in-out;

  }
}

.greenButton {
  position: relative;
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

  &:hover {
    background: lighten(#9dd558, 5%);

  }

  &:hover {
    img {
      transform: translateX(-15px);
    }
  }

  &:active {
    background: darken(#9dd558, 5%);
  }

  img {
    transition: transform 0.2s ease-in-out;
    top: 20px;
    left: 35px;
    position: absolute;
  }
}

p {
  margin-bottom: 20px;
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}